[tripleo_netapp]
volume_driver = {{netapp.volume_driver}}
netapp_storage_family = {{netapp.netapp_storage_family}}
netapp_storage_protocol = {{netapp.netapp_storage_protocol}}
nfs_shares_config = {{netapp.nfs_shares_config}}
nfs_shares = {{netapp.nfs_shares}}
netapp_server_hostname = {{netapp.netapp_server_hostname}}
netapp_server_port = {{netapp.netapp_server_port}}
netapp_login = {{netapp.netapp_login}}
netapp_password = {{netapp.netapp_password}}
